<ons-page id="mypage1"
          ng-controller="ChangePasswordController">
  <ons-toolbar class="barColor">
    <div class="left">
      <ons-back-button ng-click="app.load('main.html')"></ons-back-button>
    </div>
    <div class="center">{{LangObject.Menu.Mypassword}}</div>
  </ons-toolbar>
  <div style="text-align: center; margin-top: 80px">
    <p style="margin-top:10%;">
      <ons-input class="text-input--material"
                 float=""
                 modifier="material"
                 ng-model="User.curpwd"
                 placeholder="{{LangObject.TB_ChangePassword.CurrentPwd}}"
                 type="password"></ons-input>
    </p>
    <p style="margin-top:10%;">
      <ons-input class="text-input--material"
                 float=""
                 modifier="material"
                 ng-model="User.newpwd"
                 placeholder="{{LangObject.TB_ChangePassword.NewPwd}}"
                 type="password"></ons-input>
    </p>
    <p style="margin-top:10%;">
      <ons-input class="text-input--material"
                 float=""
                 modifier="material"
                 ng-model="User.frmpwd"
                 placeholder="{{LangObject.TB_ChangePassword.ConfirmPwd}}"
                 type="password"></ons-input>
    </p>
    <p style="margin-top:10%;">
      <ons-input class="text-input--material"
                 float=""
                 modifier="material"
                 ng-model="User.phone"
                 placeholder="{{LangObject.TB_ChangePassword.PhoneNumber}}"
                 type="number"></ons-input>
    </p>
    <p style="margin-top: 50px;">
      <ons-button ng-click="ChangePassword(User)"
                  style="width:150px">{{LangObject.Button.Save}}</ons-button>
    </p>
  </div>
</ons-page>
