
    <ons-page id="mypage1" ng-init="init();"  ng-controller="TreeController"  >
    
                 <ons-toolbar class="barColor">
                        <div class="left">
                  
                        <ons-toolbar-button ng-click="app.load('main.html')">
                            <ons-icon icon="ion-arrow-left-b" style="color:white"></ons-icon>
                          </ons-toolbar-button> 
                        </div>
                        <div class="center" style="color:white">
                          {{LangObject.Menu.Clinettree}}
                         
                        </div>
                        <div class="right">

                          </div>
                               
        
                 </ons-toolbar>
                 
                
               
              <center> <input  ng-keypress="search($event,txtseach)" ng-model="txtseach"  type="search"  placeholder="{{LangObject.Button.Search}}" class="search-input search-input--material" style="width: 280px;"></center> 
              <span  style="color:white;margin-top:5px;">Path : </span><span style="color:white;margin-top:5px;" id='topname'></span>

            <div id="treeDiv" class="centers" style="overflow: hidden;text-align: center;width:800px;height: 600px">
            </div>
            
            
    
              
                
            
               <!--
               <button  ng-click="toTop()"  class="button">{{LangObject.Button.Top}}</button>
               <button ng-click="goBack()"  class="button">{{LangObject.Button.Back}}</button>
               -->
               <ons-fab position="bottom left">
                <ons-icon ng-click="toTop()" icon="ion-arrow-up-a"></ons-icon>
              </ons-fab>
                <ons-fab position="bottom right">
                <ons-icon ng-click="goBack()"  icon="rotate-right"></ons-icon>
              </ons-fab>
             
         
            
        
                 
                 
    </ons-page>