.circular--portrait {
    position: relative;
    width: 200px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

#boxItem {
    box-shadow: 1px 1px 1px 1px #cccccc;
    padding: 2px;
    padding-bottom: 5px;
}

.small {
    color: white;
}

.circular--portrait img {
    width: 100%;
    height: auto;
}

.image-upload_add>input {
    display: none;
}

.image-upload_add img {
    width: 100%;
    cursor: pointer;
}

.image-upload>input {
    display: none;
}

.image-upload img {
    width: 100px;
    cursor: pointer;
}

.centers {
    margin: auto;
    /* width: 50%;            */
}

div#treeDiv.small {
    font-size: 8p;
    size: 8px;
}

node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.text-input--material {
    color: #250101;
}

#fontclolor {
    color: white;
    font-size: 20px;
}

* {
    box-sizing: border-box
}

.mySlides {
    display: none
}


/* Slideshow container */

.slideshow-container {
    max-height: auto;
    position: relative;
    margin: auto;
}

#change .ons-input {
    color: #181817;
}

#mypage1 .page__background {
    background-color: rgba(15, 10, 10, 0.727);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.center2 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    margin-top: -20px;
}


/* The dots/bullets/indicators */

.dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.actives {
    background-color: #e43f34;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.barColor {
    /*background-color:rgba(0, 0, 0, 0.747);*/
    background-color: rgb(216, 86, 16);
}

.barColorTran {
    background-color: rgba(0, 0, 0, 0.034);
}

p {
    color: white;
}

.area {
    text-align: center;
    font-size: 25px;
    color: #978787;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
    cursor: pointer;
}

@keyframes blur {
    from {
        text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 0px 150px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px -10px 100px #7B96B8, 0px -10px 100px #7B96B8;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(94, 151, 177);
    background-color: rgba(94, 151, 177, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

label {
    font-size: 25px;
    color: white;
}

#name_2::-webkit-input-placeholder {
    color: #363131;
}